<!DOCTYPE html>
<html lang="es">
    <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ base_path() ~ ('/media/css/bootstrap-4.0.0/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ base_path() ~ ('/media/css/asysteco.css') }}">
    <link rel="stylesheet" href="{{ base_path() ~ ('/media/js/jquery-ui/jquery-ui.min.css') }}">
    <link href="{{ base_path() ~ ('/media/js/toastr/toastr.min.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ base_path() ~ ('/media/img/asysteco.ico') }}" type="image/x-icon">
    <script src="{{ base_path() ~ ('/media/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/bootstrap-4.0.0/bootstrap.min.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/toastr/toastr.min.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/datepicker_common.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/flecha.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/toastr/toastr-settings.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/asysteco.js') }}"></script>
    <script src="{{ base_path() ~ ('/media/js/timepicker/timepicker.js') }}"></script>
    <link rel="stylesheet" href="{{ base_path() ~ ('/media/css/timepicker/timepicker.css') }}">
    <link rel="stylesheet" href="{{ base_path() ~ ('/media/css/profesores.css') }}">
    </head>